SUPABASE_URL=https://adrpskwwdghhyhbieced.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFkcnBza3d3ZGdoaHloYmllY2VkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTIzMTc1OCwiZXhwIjoyMDc2ODA3NzU4fQ.2zKpBGAT6-czyFY3bSCWSQuLaCGlYeQKKNFFZ9aH5Rs
PORT=3001
NODE_ENV=development